/* line 14, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 39, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}

/* line 68, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #222222;
}
/* line 69, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 70, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}

/* line 71, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

/* line 72, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}

/* line 73, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

/* line 74, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}

/* line 75, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 76, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p {
  margin: 0 0 1.5em;
}
/* line 77, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 78, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

/* line 80, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
a {
  text-decoration: underline;
  color: #000099;
}
/* line 18, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:visited {
  color: #000066;
}
/* line 22, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:focus {
  color: black;
}
/* line 26, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:hover {
  color: black;
}
/* line 30, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:active {
  color: #cc0099;
}

/* line 81, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}

/* line 82, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
strong {
  font-weight: bold;
}

/* line 83, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
em {
  font-style: italic;
}

/* line 84, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dfn {
  font-style: italic;
  font-weight: bold;
}

/* line 85, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
sup, sub {
  line-height: 0;
}

/* line 86, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #666666;
}

/* line 87, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 88, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
del {
  color: #666666;
}

/* line 89, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 90, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 91, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
li ul, li ol {
  margin: 0;
}

/* line 92, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}

/* line 93, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul {
  list-style-type: disc;
}

/* line 94, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ol {
  list-style-type: decimal;
}

/* line 95, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl {
  margin: 0 0 1.5em 0;
}
/* line 96, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl dt {
  font-weight: bold;
}

/* line 97, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dd {
  margin-left: 1.5em;
}

/* line 98, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
table {
  margin-bottom: 1.4em;
  width: 100%;
}

/* line 99, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th {
  font-weight: bold;
}

/* line 100, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
thead th {
  background: #c3d9ff;
}

/* line 101, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th, td, caption {
  padding: 4px 10px 4px 5px;
}

/* line 102, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tr.even td {
  background: #e5ecf9;
}

/* line 103, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tfoot {
  font-style: italic;
}

/* line 104, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
caption {
  background: #eeeeee;
}

/* line 105, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.quiet {
  color: #666666;
}

/* line 106, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.loud {
  color: #111111;
}

/* line 15, ../_lib/sass/src/screen.sass */
#container {
  min-width: 950px;
  max-width: 1400px;
  min-width: 950px;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 21, ../_lib/sass/src/screen.sass */
#header ul, #footer ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 51, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#header ul li, #footer ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 43, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#header ul li:first-child, #header ul li.first, #footer ul li:first-child, #footer ul li.first {
  padding-left: 0px;
}
/* line 44, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#header ul li:last-child, #header ul li.last, #footer ul li:last-child, #footer ul li.last {
  padding-right: 0px;
}

/* line 24, ../_lib/sass/src/screen.sass */
#content {
  display: inline;
  float: left;
  overflow: hidden;
  width: 74.72%;
  margin-right: 1.042%;
}

/* line 27, ../_lib/sass/src/screen.sass */
#sidebar {
  display: inline;
  float: left;
  overflow: hidden;
  width: 24.212%;
  margin-right: 0;
}

/* line 30, ../_lib/sass/src/screen.sass */
.notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 37, /home/stephane/.gem/ruby/1.8/gems/compass-0.10.3/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.notice a {
  color: #514721;
}
