//====================================================
//
//	IMPORTS
//
//====================================================

@import "blueprint"
@import "blueprint/reset"
@import "blueprint/liquid"
@import "blueprint/typography"
@import "blueprint/interaction"

@import "compass/reset"
@import "compass/utilities"
@import "compass/layout/sticky-footer"

//====================================================
//
//	VARIABLES
//
//====================================================

//Layout
$blueprint-liquid-grid-columns        : 24
$blueprint-liquid-container-width     : 80%
$blueprint-liquid-container-min-width : 950px

//Fonts
$main-font-family                     : georgia,serif
$alternate-font-family                : lucida sans unicode, lucida grande, sans-serif
$fixed-font-family                    : lucida console, monaco, monospace

$blueprint-font-family                : $main-font-family
$blueprint-fixed-font-family          : $fixed-font-family
$blueprint-font-size                  : 16px

//Colors
$main-color                           : #222
$main-color-strong                    : #000
$main-color-light                     : #aaa

$secondary-color                      : #4183C4
$secondary-color-strong               : #222
$secondary-color-light                : #222

$alternate-color                      : #222
$alternate-color-strong               : #222
$alternate-color-light                : #222

//====================================================
//
//	GENERIC MIXINS
//
//====================================================

=zanshine-container
  +container
  :max-width 1280px


//====================================================
//
//	RESET
//
//====================================================

=zanshine-reset
  //+global-reset
  +blueprint-global-reset


//====================================================
//
//	TYPOGRAPHY
//
//====================================================

=zanshine-typography
  +blueprint-typography
  a
    +link-colors($secondary-color, $secondary-color, $secondary-color, $secondary-color, $secondary-color)
    :text-decoration none
    &:hover
      :text-decoration underline
  #header
    h1 a
      :font-size 120%
      :font-weight bolder
  #navigation
    .author
      :font-size 120%


//====================================================
//
//	LAYOUT
//
//====================================================

=zanshine-layout
  +sticky-footer(72px, "#container", "#container-footer", "#footer")
  #container, #footer
    +zanshine-container

  #content
    +column(18)

  #navigation
    +column(6, true)


//====================================================
//
//	COLORS
//
//====================================================

=zanshine-colors
  html, body
    :color $main-color

  #header, #navigation
    h1, h2
      :color $main-color-light
      a
        :color inherit


//====================================================
//
//	DECORATION
//
//====================================================

=zanshine-decoration
  hr
    :border 0px solid $main-color
    :height 1px
    :background-color $main-color
  #header
    h1, h2
      a
        &:hover
          :text-decoration none
  #navigation
    ul
      :padding-left 0
      +no-bullet



//====================================================
//
//	APPLY
//
//====================================================

+zanshine-reset
+zanshine-typography
+zanshine-layout
+zanshine-colors
+zanshine-decoration

